{% extends '__base__.html' %} {% block title %}日志{% endblock %} {% block content %}

<div class="uk-width-medium-3-4">
    {% for blog in blogs %}
    <article class="uk-article">
        <h2>
            <a href="/blog/{{ blog.id }}">{{ blog.name }}</a>
        </h2>
        <div class="uk-article-meta">
            发表于{{ blog.created_at|datetime }}
            {# <a href="/blog/{{ blog.id }}#disqus_thread"></a> #}
        </div>
        <p>{{ blog.summary }}</p>
        <p>
            <a href="/blog/{{ blog.id }}">继续阅读
                <i class="uk-icon-angle-double-right"></i>
            </a>
        </p>
    </article>
    <hr class="uk-article-divider"> {% endfor %} {{ pagination('/?page=', page) }}
</div>

{% endblock %}